{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        poly/block {:local/root "../../components/block"}
        poly/cli {:local/root "../../bases/cli"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main com.analytics.cli.core}}}
